<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Корзина</span>
		</div>
		<h1><span>Корзина</span></h1>
		<div class="basket">
			<!--Шаблон для мобильной версии-->
			<div class="item_list_xs">
				<div class="item">
					<div class="pict"><img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/></div>
					<p class="name">Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</p>
					<div class="props">
						<div class="head">
							<div class="row">
								<div class="col-3 wrap_prop">
								Артикул
								</div>
								<div class="col-3 wrap_prop">
								Вес
								</div>
								<div class="col-3 wrap_prop">
								Скидка
								</div>
								<div class="col-3 wrap_prop">
								Цена
								</div>
							</div>
						</div>
						<div class="values">
							<div class="row">
								<div class="col-3 wrap_prop">
								1251
								</div>
								<div class="col-3 wrap_prop">
								0,8
								</div>
								<div class="col-3 wrap_prop">
								5%
								</div>
								<div class="col-3 wrap_prop">
								351 руб.
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="counter">
								<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
							</div>
						</div>
						<div class="col-6">
							<div class="price">4212 руб.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6"><a href="" class="btn5 defer"><span>Отложить</span></a></div>
						<div class="col-6"><a href="" class="btn6 favourite"><span>В избранное</span></a></div>
					</div>
				</div>
				<div class="item">
					<div class="pict"><img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/></div>
					<p class="name">Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</p>
					<div class="props">
						<div class="head">
							<div class="row">
								<div class="col-3 wrap_prop">
								Артикул
								</div>
								<div class="col-3 wrap_prop">
								Вес
								</div>
								<div class="col-3 wrap_prop">
								Скидка
								</div>
								<div class="col-3 wrap_prop">
								Цена
								</div>
							</div>
						</div>
						<div class="values">
							<div class="row">
								<div class="col-3 wrap_prop">
								1251
								</div>
								<div class="col-3 wrap_prop">
								0,8
								</div>
								<div class="col-3 wrap_prop">
								5%
								</div>
								<div class="col-3 wrap_prop">
								351 руб.
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="counter">
								<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
							</div>
						</div>
						<div class="col-6">
							<div class="price">4212 руб.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6"><a href="" class="btn5 defer"><span>Отложить</span></a></div>
						<div class="col-6"><a href="" class="btn6 favourite"><span>В избранное</span></a></div>
					</div>
				</div>
				<div class="item">
					<div class="pict"><img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/></div>
					<p class="name">Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</p>
					<div class="props">
						<div class="head">
							<div class="row">
								<div class="col-3 wrap_prop">
								Артикул
								</div>
								<div class="col-3 wrap_prop">
								Вес
								</div>
								<div class="col-3 wrap_prop">
								Скидка
								</div>
								<div class="col-3 wrap_prop">
								Цена
								</div>
							</div>
						</div>
						<div class="values">
							<div class="row">
								<div class="col-3 wrap_prop">
								1251
								</div>
								<div class="col-3 wrap_prop">
								0,8
								</div>
								<div class="col-3 wrap_prop">
								5%
								</div>
								<div class="col-3 wrap_prop">
								351 руб.
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="counter">
								<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
							</div>
						</div>
						<div class="col-6">
							<div class="price">4212 руб.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6"><a href="" class="btn5 defer"><span>Отложить</span></a></div>
						<div class="col-6"><a href="" class="btn6 favourite"><span>В избранное</span></a></div>
					</div>
				</div>
			</div>
			<!--Шаблон для десктопа-->
			<div class="offer_series basket_list">
				<div class="head">
					<div class="row">
						<div class="col-12 col-xl-9">
							<div class="row">
								<div class="col-4 col-lg-4 col-xl-3 prop name"><span>Наименование</span></div>
								<div class="col-1 col-lg-1 prop article"><span>Артикул</span></div>
								<div class="col-1 col-lg-1 prop available"><span>Вес</span></div>
								<div class="col-1 col-lg-1 col-xl-2 prop price"><span>Цена</span></div>
								<div class="col-1 col-lg-1 prop discount"><span>Скидка</span></div>
								<div class="col-3 col-lg-2 col-xl-2 prop counter"><span>Количество</span></div>
								<div class="col-2 col-lg-2 col-xl-2 prop cost"><span>Стоимость</span></div>
							</div>
						</div>
						<div class="col-12 col-xl-3">
							<div class="row">
								<div class="col-8 col-lg-8 prop name"><span></span></div>
								<div class="col-4 col-lg-4 prop reset"><span>Удалить</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="row">
							<div class="col-12 col-xl-9">
								<div class="row">
									<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
									<div class="col-3 col-lg-3 col-xl-2 prop name">
									Камни декоративные
									акриловые "Яркость",
									ассорти, различные формы, 56 шт./уп., FOLIA
									</div>
									<div class="col-1 col-lg-1 prop article">1251</div>
									<div class="col-1 col-lg-1 prop available">0,8 кг</div>
									<div class="col-1 col-lg-1 col-xl-2 prop price"><span class="old">368 руб.</span><span>351 руб.</span></div>
									<div class="col-1 col-lg-1 prop discount">5%</div>
									<div class="col-3 col-lg-2 col-xl-2 prop counter">
										<div class="wrap_count">
											<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
										</div>
									</div>	
									<div class="col-2 col-lg-2 col-xl-2 prop cost">4212 руб.</div>																											
								</div>
							</div>
							<div class="col-12 col-xl-3">
								<div class="row">
									<div class="col-3 col-lg-2 col-xl-12 offset-3 offset-lg-6 offset-xl-1 order-xl-1"><a href="" class="btn6 favourite"><span><span>В избранное</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 offset-xl-1 order-xl-3"><a href="" class="btn5 defer"><span><span>Отложить</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 order-xl-2"><a href="" class="btn12 reset"><span><span>Удалить</span></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="row">
							<div class="col-12 col-xl-9">
								<div class="row">
									<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
									<div class="col-3 col-lg-3 col-xl-2 prop name">
									Камни декоративные
									акриловые "Яркость",
									ассорти, различные формы, 56 шт./уп., FOLIA
									</div>
									<div class="col-1 col-lg-1 prop article">1251</div>
									<div class="col-1 col-lg-1 prop available">0,3 кг</div>
									<div class="col-1 col-lg-1 col-xl-2 prop price"><span class="old">368 руб.</span><span>351 руб.</span></div>
									<div class="col-1 col-lg-1 prop discount">10%</div>
									<div class="col-3 col-lg-2 col-xl-2 prop counter">
										<div class="wrap_count">
											<button class="munus control">-</button><input type="text" name="count" class="count" value="2"><button class="plus control">+</button>
										</div>
									</div>	
									<div class="col-2 col-lg-2 col-xl-2 prop cost">702 руб.</div>																											
								</div>
							</div>
							<div class="col-12 col-xl-3">
								<div class="row">
									<div class="col-3 col-lg-2 col-xl-12 offset-3 offset-lg-6 offset-xl-1 order-xl-1"><a href="" class="btn6 favourite"><span><span>В избранное</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 offset-xl-1 order-xl-3"><a href="" class="btn5 defer"><span><span>Отложить</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 order-xl-2"><a href="" class="btn12 reset"><span><span>Удалить</span></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="row">
							<div class="col-12 col-xl-9">
								<div class="row">
									<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
									<div class="col-3 col-lg-3 col-xl-2 prop name">
									Камни декоративные
									акриловые "Яркость",
									ассорти, различные формы, 56 шт./уп., FOLIA
									</div>
									<div class="col-1 col-lg-1 prop article">1251</div>
									<div class="col-1 col-lg-1 prop available">1,25 кг</div>
									<div class="col-1 col-lg-1 col-xl-2 prop price"><span class="old">368 руб.</span><span>351 руб.</span></div>
									<div class="col-1 col-lg-1 prop discount">0%</div>
									<div class="col-3 col-lg-2 col-xl-2 prop counter">
										<div class="wrap_count">
											<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
										</div>
									</div>	
									<div class="col-2 col-lg-2 col-xl-2 prop cost">35100 руб.</div>																											
								</div>
							</div>
							<div class="col-12 col-xl-3">
								<div class="row">
									<div class="col-3 col-lg-2 col-xl-12 offset-3 offset-lg-6 offset-xl-1 order-xl-1"><a href="" class="btn6 favourite"><span><span>В избранное</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 offset-xl-1 order-xl-3"><a href="" class="btn5 defer"><span><span>Отложить</span></span></a></div>
									<div class="col-3 col-lg-2 col-xl-12 order-xl-2"><a href="" class="btn12 reset"><span><span>Удалить</span></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<form action="" class="form2">
				<div class="row">
					<div class="col-12 order-1 order-md-2">
						<div class="baket_result">
							<div class="total">Итого: 40014 руб.</div>
							<p class="delivery_text">Стоимость без доставки</p>
						</div>
					</div>
					<div class="col-12 order-2 order-md-1">
						<div class="baket_actions first_action">
							<p class="actions_title">У меня есть:</p>
							<div class="field">
								<label for="cupon">Купон</label>
								<input type="checkbox" id="cupon">
							</div>
							<div class="field">
								<label for="bonus">Бонусы</label>
								<input type="checkbox" id="bonus">
							</div>
							<div class="field">
								<label for="gift">Подарочный сертификат</label>
								<input type="checkbox" id="gift">
							</div>
						</div>
						<div class="baket_actions second_action">
							<div class="field">
								<label for="count_bonus">Бонусов к списыванию:</label>
								<input type="text" id="count_bonus" value="220">
							</div>
							<a href="" class="btn12 reset"></a>
							<div class="field">
								<button>Списать</button>
							</div>
						</div>
					</div>
					<div class="col-12 order-3 order-md-3">
						<div class="field">
							<div class="row">
								<div class="col-12 col-md-6">
									<button type="submit" class="btn_make_order"><span>оформить заказ</span></button>
								</div>
								<div class="col-12 col-md-6">
									<a href="" class="make_order btn13">Оформить заказ без регистрации</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="service_list">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict"><img src="img/ico/1_01.svg" title="" alt="Бесплатная доставка"></div>
							<div class="disc">
								<h3>Бесплатная доставка</h3>
								<p>от 3000 руб</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict">
								<img src="img/ico/2_01.svg" title="" alt="Удобная оплата">
							</div>
							<div class="disc">
								<h3>Удобная оплата</h3>
								<p>Наличный и безналичный расчет</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service last">
							<div class="pict">
								<img src="img/ico/3_01.svg" title="" alt="Система скидок">
							</div>
							<div class="disc">
								<h3>Система скидок</h3>
								<p>Постоянным клиентам</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
$(document).ready(function() {
	function initMap() {
		var coordinates = {lat: 47.212325, lng: 38.933663},

		markerImage = '/img/marker.png',

		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 47.212325, lng: 38.933663},
			zoom: 10
		}),

		marker = new google.maps.Marker({
			position: coordinates,
			map: map,
			icon: {
				url: markerImage,
				scaledSize: new google.maps.Size(41, 43)
			}
		})
	}
	initMap();
});
</script>
<? include 'footer.html' ?>