<? include 'header.html' ?>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumbs">
					<a href="/main.html">Главная</a> — <a href="/category.html">Хобби</a> — <a href="/category.html">Скрапбукинг</a>
				</div>
				<div class="element">
					<div class="element_inner">
						<div class="row">
							<div class="col-12 col-md-5">
								<div class="element_picture">
									<div class="small_win">
										<h1>Камни декоративные акриловые "Яркость"</h1>
										<div class="props">
											<div class="prop brand">Бренд — «Canson Arches»</div>
											<div class="prop article">Артикул — 139672</div>
										</div>
										<hr class="view_1">
									</div>
									<div class="b_pictures">
										<div class="detail_picture slider-for">
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/2521aa035bc771320dab7ea1e270b2dc.png" title="" alt=""></div>
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/2521aa035bc771320dab7ea1e270b2dc.png" title="" alt=""></div>
										</div>
										<div class="list_picture slider-nav">
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/2521aa035bc771320dab7ea1e270b2dc.png" title="" alt=""></div>
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
											<div class="item"><img src="img/del/2521aa035bc771320dab7ea1e270b2dc.png" title="" alt=""></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-7">
								<div class="element_data">
									<div class="medium_desktop">
										<h1>Камни декоративные акриловые "Яркость"</h1>
										<div class="props">
											<div class="prop brand">Бренд — «Canson Arches»</div>
											<div class="prop article">Артикул — 139672</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6 col-md-5 col-lg-4 order-md-4 order-lg-4 wrap_price">
											<div class="price"><span class="sum">1 522</span> руб.</div>
										</div>
										<div class="col-12 col-md-12 col-lg-12 order-md-12 order-lg-12">
											<div class="props">
												<div class="prop shared">Поделиться с друзьями:</div>
												<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
												<script src="//yastatic.net/share2/share.js"></script>
												<div class="ya-share2 shared_btn" data-services="vkontakte,facebook,odnoklassniki" data-counter=""></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="offer_series">
						<div class="head">
							<div class="row">
								<div class="col-4 col-lg-4 col-xl-3 prop name"><span>Наименование</span></div>
								<div class="col-2 col-lg-1 prop article"><span>Артикул</span></div>
								<div class="col-2 col-lg-1 prop available"><span>Доступно</span></div>
								<div class="col-2 col-lg-1 prop price"><span>Цена</span></div>
								<div class="col-2 col-lg-4 col-xl-3 prop counter"><span>Количество</span></div>
							</div>
						</div>
						<div class="item first">
							<div class="body">
								<div class="row">
									<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
									<div class="col-3 col-lg-3 col-xl-2 prop name">
									Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA
									</div>
									<div class="col-2 col-lg-1 prop article">1251</div>
									<div class="col-2 col-lg-1 prop available">12 шт.</div>
									<div class="col-2 col-lg-1 prop price">351 руб.</div>
									<div class="col-2 col-lg-2 col-xl-3 prop counter">
										<div class="wrap_count">
											<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
										</div>
									</div>								
									<div class="col-3 col-lg-2 offset-1 offset-lg-0 order-lg-2 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>								
									<div class="col-6 col-lg-1 order-lg-1 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
										<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
									</div>														
								</div>
							</div>
						</div>
						<div class="item first">
							<div class="body">
								<div class="row">
									<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
									<div class="col-3 col-lg-3 col-xl-2 prop name">
									Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA
									</div>
									<div class="col-2 col-lg-1 prop article">1251</div>
									<div class="col-2 col-lg-1 prop available">12 шт.</div>
									<div class="col-2 col-lg-1 prop price">351 руб.</div>
									<div class="col-2 col-lg-2 col-xl-3 prop counter">
										<div class="wrap_count">
											<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
										</div>
									</div>								
									<div class="col-3 col-lg-2 offset-1 offset-lg-0 order-lg-2 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>								
									<div class="col-6 col-lg-1 order-lg-1 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
										<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
									</div>														
								</div>
							</div>
						</div>							
					</div>
					<div class="slick offer_series_m">
						<div class="item">
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
								</div>
							</div>
							<div class="title">Наименование</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
								</div>
							</div>
							<div class="title">Артикул</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop article">
										1251
									</div>
									<div class="col-6 prop article">
										1251
									</div>
								</div>
							</div>
							<div class="title">Доступно</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop available">
										12 шт
									</div>
									<div class="col-6 prop available">
										12 шт
									</div>
								</div>
							</div>
							<div class="title">Цена</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop price">
										351 руб.
									</div>
									<div class="col-6 prop price">
										351 руб.
									</div>
								</div>
							</div>
							<div class="title">Количество</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
								</div>
							</div>
							<div class="separator"></div>
						</div>
						<div class="item">
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
								</div>
							</div>
							<div class="title">Наименование</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
								</div>
							</div>
							<div class="title">Артикул</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop article">
										1251
									</div>
									<div class="col-6 prop article">
										1251
									</div>
								</div>
							</div>
							<div class="title">Доступно</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop available">
										12 шт
									</div>
									<div class="col-6 prop available">
										12 шт
									</div>
								</div>
							</div>
							<div class="title">Цена</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop price">
										351 руб.
									</div>
									<div class="col-6 prop price">
										351 руб.
									</div>
								</div>
							</div>
							<div class="title">Количество</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
								</div>
							</div>
							<div class="separator"></div>
						</div>
						<div class="item">
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
									<div class="col-6 prop pict">
										<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
									</div>
								</div>
							</div>
							<div class="title">Наименование</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
									<div class="col-6 prop name">
										Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
									</div>
								</div>
							</div>
							<div class="title">Артикул</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop article">
										1251
									</div>
									<div class="col-6 prop article">
										1251
									</div>
								</div>
							</div>
							<div class="title">Доступно</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop available">
										12 шт
									</div>
									<div class="col-6 prop available">
										12 шт
									</div>
								</div>
							</div>
							<div class="title">Цена</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop price">
										351 руб.
									</div>
									<div class="col-6 prop price">
										351 руб.
									</div>
								</div>
							</div>
							<div class="title">Количество</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
									<div class="col-6 prop counter">
										<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn5 defer"><span><span>В отложенные</span></span></a>
									</div>
								</div>
							</div>
							<div class="wrap_prop">
								<div class="row">
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
									<div class="col-6 prop">
										<a href="" class="btn3 order"><span>Заказать</span></a>
									</div>
								</div>
							</div>
							<div class="separator"></div>
						</div>
					</div>
					<div class="offer_tabs_control">
						<div class="row">
							<div class="col-6 col-md-3 tab tab_discription">
								<a href="javascript.void(0);" class="js-tabs active" data-for="discription_tab"><span>Описание</span></a>
							</div>
							<div class="col-6 col-md-3 tab tab_payment">
								<a href="javascript.void(0);" class="js-tabs" data-for="payment_tab"><span>Оплата</span></a>
							</div>
							<div class="col-6 col-md-3 tab tab_delivery">
								<a href="javascript.void(0);" class="js-tabs" data-for="delivery_tab"><span>Доставка</span></a>
							</div>
							<div class="col-6 col-md-3 tab tab_review">
								<a href="javascript.void(0);" class="js-tabs" data-for="review_tab"><span>Отзывы<span class="count">99</span></span></a>
							</div>
						</div>
					</div>
					<div class="offer_tabs_data">
						<div class="discription_tab b_tab active">
							<ul>
								<li>Бренд — Canson Arches</li> 
								<li>Серия  — Aqua</li>
								<li>Тип — Альбом</li>
								<li>Брошюровка — Нет</li>
								<li>Формат — А2</li>
								<li>Размер — 222 мм х 300 мм</li>
								<li>Фактура — Гладкая</li>
								<li>Плотность — 12гр</li>
								<li>Цвет — Серый</li>
								<li>Состав — Картон</li>
								<li>Количество листов — 29</li>
								<li>Применение — рисование крассками</li>
								<li>Страна — Бельгия</li>
								<li>Вес — 120 грамм</li>
							</ul>
						</div>
						<div class="payment_tab b_tab">
							<p>Оплата происходит после проверки наличия товаров.</p>
							<ul>
								<li><span>Наличными курьеру</span></li>
								<li><span>Безналичный расчет банковской картой</span></li>
								<li><span>Безналичный расчет на р/с</span></li>
							</ul>
							<div class="more"><a href="">Подробнее</a></div>
						</div>
						<div class="delivery_tab b_tab">
							<p>Способы доставки по Москве и Московской области:</p>
							<ul>
								<li><span>Самовывоз</span></li>
								<li><span>Курьерская доставка</span></li>
								<li><span>Почта России</span></li>
								<li><span>Транспортная доставка</span></li>
							</ul>
							<p>Забрать заказ можно по адресу:</p>
							м. Орехово, Каширское ш., д.80к1
							по предварительному звонку<br>
							<b>С 10 до 18 ежедневно</b><br>
							<div class="more"><a href="">Подробнее о доставке</a></div>
						</div>
						<div class="review_tab b_tab">
							<div class="reviews">
								<div class="review">
									<div class="row">
										<div class="col-12 col-md-2 b_head_wrap">
											<div class="b_head">
												<div class="row">
													<div class="col-6 col-md-12">
														<div class="author">Александра</div>
													</div>
													<div class="col-6 col-md-12">
														<div class="rate">
															<ul>
																<li class="active"></li>
																<li class="active"></li>
																<li class="active"></li>
																<li></li>
																<li></li>
															<ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-8">
											<div class="b_comment">
											Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
											<a href="">Читать далее</a>
											</div>
										</div>
										<div class="col-12 col-md-2">
											<a href="" class="review_item">Кисть (колонок) Круглая № 6, короткая ручка</a>
										</div>
									</div>
								</div>
								<div class="review">
									<div class="row">
										<div class="col-12 col-md-2 b_head_wrap">
											<div class="b_head">
												<div class="row">
													<div class="col-6 col-md-12">
														<div class="author">Александра</div>
													</div>
													<div class="col-6 col-md-12">
														<div class="rate">
															<ul>
																<li class="active"></li>
																<li class="active"></li>
																<li class="active"></li>
																<li></li>
																<li></li>
															<ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-8">
											<div class="b_comment">
											Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
											</div>
										</div>
										<div class="col-12 col-md-2">
											<a href="" class="review_item">Кисть (колонок) Круглая № 6, короткая ручка</a>
										</div>
									</div>
								</div>
								<div class="review last">
									<div class="row">
										<div class="col-12 col-md-2 b_head_wrap">
											<div class="b_head">
												<div class="row">
													<div class="col-6 col-md-12">
														<div class="author">Александра</div>
													</div>
													<div class="col-6 col-md-12">
														<div class="rate">
															<ul>
																<li class="active"></li>
																<li class="active"></li>
																<li class="active"></li>
																<li></li>
																<li></li>
															<ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-8">
											<div class="b_comment">
											Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
											</div>
										</div>
										<div class="col-12 col-md-2">
											<a href="" class="review_item">Кисть (колонок) Круглая № 6, короткая ручка</a>
										</div>
									</div>
								</div>
							</div>
							<div class="more">
								<div class="row">
									<div class="col-12 offset-md-2">
										<a href="">Все отзывы</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_4 related">
		<div class="container">
			<h3><span>Похожие товары</span></h3>
			<div class="slick catalog new">
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_viewed">
		<div class="container">
			<h3>Недавно просмотренные</h3>
			<div class="slick view">
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
				<div class="item">
					<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
					<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
				</div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>