<? include 'header.html' ?>
	<div class="wrap_catalog">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/main.html">Главная</a> — <a href="/category.html">Хобби</a> — <a href="/category.html">Скрапбукинг</a>
			</div>
			<h1><span>Бумага для акварели</span></h1>
			<div class="row">
				<div class="col-12 col-lg-3">
					<div id="catalog_filter" class="popup">
						<div class="sub_nav">
							<span class="title">Фильтр</span>
							<a href="" class="close js-close-popup"></a>
						</div>
						<div class="body">
							<div class="head_filter">Фильтр по параметрам</div>
							<form action="" method="post" class="form2">
								<div class="step1">
									<div class="field">
										<label for="availability" class="view1">В наличии</label>
										<input type="checkbox" name="availability" id="availability" value="">
									</div>
									<div class="field select">
										<label for="brand" class="view2 not_arror">Бренд</label>
										<select name="brand" id="brand" class="oneselect">
											<option value="">Все</option>
											<option value="1">Бренд1</option>
											<option value="2">Бренд2</option>
											<option value="3">Бренд3</option>
											<option value="4">Бренд4</option>
											<option value="5">Бренд5</option>
										</select>
									</div>
									<div class="field select disabled">
										<label for="seria" class="view2 not_arror">Серия</label>
										<select name="seria" id="seria" class="oneselect" disabled>
											<option value="">Все</option>
											<option value="1">Серия1</option>
											<option value="2">Серия2</option>
											<option value="3">Серия3</option>
											<option value="4">Серия4</option>
											<option value="5">Серия5</option>
										</select>
									</div>
								</div>
								<hr>
								<div class="field">
									<label for="type" class="view2">Тип</label>
									<div class="field">
										<label for="prop1" class="view1">Альбом</label>
										<input type="checkbox" name="type[]" id="prop1" value="">
									</div>
									<div class="field">
										<label for="prop2" class="view1">Блок</label>
										<input type="checkbox" name="type[]" id="prop2" value="">
									</div>
									<div class="field">
										<label for="prop3" class="view1">Блокнот</label>
										<input type="checkbox" name="type[]" id="prop3" value="">
									</div>
									<div class="field multiselect">
										<div class="custom_select">
											<div class="custom_field">
												<span class="selectmenu-icon"></span>
												<span class="selectmenu-text">Ещё 2</span>
											</div>
											<ul class="custom-content">
												<li>
													<label for="type4" class="view1">3М</label>
													<input type="checkbox" name="type[]" id="type4" value="">
												</li>
												<li>
													<label for="type5" class="view1">ALFABAG</label>
													<input type="checkbox" name="type[]" id="type5" value="">
												</li>
												<li>
													<label for="type6" class="view1">BERLINGO</label>
													<input type="checkbox" name="type[]" id="type6" value="">
												</li>
												<li>
													<label for="type7" class="view1">BIC</label>
													<input type="checkbox" name="type[]" id="type7" value="">
												</li>
												<li>
													<label for="type8" class="view1">CANSON</label>
													<input type="checkbox" name="type[]" id="type8" value="">
												</li>
												<li>
													<label for="type9" class="view1">CARIOCA</label>
													<input type="checkbox" name="type[]" id="type9" value="">
												</li>
												<li>
													<label for="type10" class="view1">CENTROPEN</label>
													<input type="checkbox" name="type[]" id="type10" value="">
												</li>
												<li>
													<label for="type11" class="view1">CERNIT</label>
													<input type="checkbox" name="type[]" id="type11" value="">
												</li>
												<li>
													<label for="type12" class="view1">Creta Color</label>
													<input type="checkbox" name="type[]" id="type12" value="">
												</li>
												<li>
													<label for="type13" class="view1">CROWN</label>
													<input type="checkbox" name="type[]" id="type13" value="">
												</li>
												<li>
													<label for="type14" class="view1">Erich Krause</label>
													<input type="checkbox" name="type[]" id="type14" value="">
												</li>
												<li>
													<label for="type15" class="view1">FABER-CASTELL</label>
													<input type="checkbox" name="type[]" id="type15" value="">
												</li>
												<li>
													<label for="type16" class="view1">FABRIANO</label>
													<input type="checkbox" name="type[]" id="type16" value="">
												</li>
												<li>
													<label for="type17" class="view1">FILA</label>
													<input type="checkbox" name="type[]" id="type17" value="">
												</li>
											</ul>
										</div>
									</div>
								</div>
								<hr>
																
								<div class="field">
									<label for="type" class="view2">Фактура</label>
									<div class="field">
										<label for="factyra1" class="view1">Гладкая</label>
										<input type="checkbox" name="factyra[]" id="factyra1" value="">
									</div>
									<div class="field">
										<label for="factyra2" class="view1">Крафт</label>
										<input type="checkbox" name="factyra[]" id="factyra2" value="">
									</div>
									<div class="field">
										<label for="factyra3" class="view1">Крупнозернистая</label>
										<input type="checkbox" name="factyra[]" id="factyra3" value="">
									</div>
									<div class="field multiselect">
										<div class="custom_select">
											<div class="custom_field">
												<span class="selectmenu-icon"></span>
												<span class="selectmenu-text">Ещё 2</span>
											</div>
											<ul class="custom-content">
												<li>
													<label for="factyra4" class="view1">3М</label>
													<input type="checkbox" name="factyra[]" id="factyra4" value="">
												</li>
												<li>
													<label for="factyra5" class="view1">ALFABAG</label>
													<input type="checkbox" name="factyra[]" id="factyra5" value="">
												</li>
												<li>
													<label for="factyra6" class="view1">BERLINGO</label>
													<input type="checkbox" name="factyra[]" id="factyra6" value="">
												</li>
												<li>
													<label for="factyra7" class="view1">BIC</label>
													<input type="checkbox" name="factyra[]" id="factyra7" value="">
												</li>
												<li>
													<label for="factyra8" class="view1">CANSON</label>
													<input type="checkbox" name="factyra[]" id="factyra8" value="">
												</li>
												<li>
													<label for="factyra9" class="view1">CARIOCA</label>
													<input type="checkbox" name="factyra[]" id="factyra9" value="">
												</li>
												<li>
													<label for="factyra10" class="view1">CENTROPEN</label>
													<input type="checkbox" name="factyra[]" id="factyra10" value="">
												</li>
												<li>
													<label for="factyra11" class="view1">CERNIT</label>
													<input type="checkbox" name="factyra[]" id="factyra11" value="">
												</li>
												<li>
													<label for="factyra12" class="view1">Creta Color</label>
													<input type="checkbox" name="factyra[]" id="factyra12" value="">
												</li>
												<li>
													<label for="factyra13" class="view1">CROWN</label>
													<input type="checkbox" name="factyra[]" id="factyra13" value="">
												</li>
												<li>
													<label for="factyra14" class="view1">Erich Krause</label>
													<input type="checkbox" name="factyra[]" id="factyra14" value="">
												</li>
												<li>
													<label for="factyra15" class="view1">FABER-CASTELL</label>
													<input type="checkbox" name="factyra[]" id="factyra15" value="">
												</li>
												<li>
													<label for="factyra16" class="view1">FABRIANO</label>
													<input type="checkbox" name="factyra[]" id="factyra16" value="">
												</li>
												<li>
													<label for="factyra17" class="view1">FILA</label>
													<input type="checkbox" name="factyra[]" id="factyra17" value="">
												</li>
											</ul>
										</div>
									</div>
								</div>
								<hr>
								
								<div class="field">
									<label for="type" class="view2">Плотность</label>
									<div class="field">
										<label for="density1" class="view1">Гладкая</label>
										<input type="checkbox" name="density[]" id="density1" value="">
									</div>
									<div class="field">
										<label for="density2" class="view1">Крафт</label>
										<input type="checkbox" name="density[]" id="density2" value="">
									</div>
									<div class="field">
										<label for="density3" class="view1">Крупнозернистая</label>
										<input type="checkbox" name="density[]" id="density3" value="">
									</div>
									<div class="field multiselect">
										<div class="custom_select">
											<div class="custom_field">
												<span class="selectmenu-icon"></span>
												<span class="selectmenu-text">Ещё 2</span>
											</div>
											<ul class="custom-content">
												<li>
													<label for="density4" class="view1">3М</label>
													<input type="checkbox" name="density[]" id="density4" value="">
												</li>
												<li>
													<label for="density5" class="view1">ALFABAG</label>
													<input type="checkbox" name="density[]" id="density5" value="">
												</li>
											</ul>
										</div>
									</div>
								</div>
								<hr>
								
								<div class="field">
									<label for="type" class="view2">Цвет</label>
									<div class="field">
										<label for="color1" class="view1">Желтый</label>
										<input type="checkbox" name="color[]" id="color1" value="">
									</div>
									<div class="field">
										<label for="color2" class="view1">Белый</label>
										<input type="checkbox" name="color[]" id="color2" value="">
									</div>
									<div class="field">
										<label for="color3" class="view1">Голубой</label>
										<input type="checkbox" name="color[]" id="color3" value="">
									</div>
									<div class="field multiselect">
										<div class="custom_select">
											<div class="custom_field">
												<span class="selectmenu-icon"></span>
												<span class="selectmenu-text">Ещё 2</span>
											</div>
											<ul class="custom-content">
												<li>
													<label for="color4" class="view1">3М</label>
													<input type="checkbox" name="color[]" id="color4" value="">
												</li>
												<li>
													<label for="color5" class="view1">ALFABAG</label>
													<input type="checkbox" name="color[]" id="color5" value="">
												</li>
											</ul>
										</div>
									</div>
								</div>
								<hr>
								<span class="checkTop"></span>
								<div class="submit scrolling-btn">
									<input type="submit" name="submit" value="Показать" />
								</div>
								
							</form>
						</div>
					</div>
					<a href="javascript:void(0);" id="btn_filter_by_param" class="js-popup" data-popup="catalog_filter">Фильтр по параметрам</a>
					<div class="viewed_vertical">
						<h3>Недавно просмотренные</h3>
						<div class="view">
							<div class="item">
								<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
								<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
							</div>
							<div class="item">
								<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
								<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-9">
					<div class="sort">
						<form class="form2">
							<div class="field select count_field">
								<label for="count" class="view3">Товаров на странице:</label>
								<select name="count" id="count" class="oneselect">
									<option value="1">12</option>
									<option value="2">24</option>
									<option value="3">36</option>
									<option value="4">100</option>
								</select>
							</div>
							<div class="field select sort_field">
								<label for="sort" class="view3">Упорядочить по:</label>
								<select name="sort" id="sort" class="oneselect">
									<option value="1">Цене, сначала дешёвые</option>
									<option value="2">Цене, сначала дорогие</option>
								</select>
							</div>
						</form>
					</div>
					<div class="b_select_filter_by_param">
						<div class="list_props">
							<span>Выбранные фильтры:</span><span class="prop">Бренд: <span class="val">гамма</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Выставка: <span class="val">10.0 мм</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Тип ворса: <span class="val">щетина</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Длина ручки: <span class="val">длинная</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Бренд: <span class="val">гамма</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Бренд: <span class="val">гамма</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Бренд: <span class="val">гамма</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Выставка: <span class="val">10.0 мм</span> <i class="fas fa-times del js-del"></i></span> <span class="prop">Тип ворса: <span class="val">щетина</span> <i class="fas fa-times del js-del"></i></span><span class="prop">Бренд: <span class="val">гамма</span> <i class="fas fa-times del js-del"></i></span> <span class="prop">Длина ручки: <span class="val">длинная</span> <i class="fas fa-times del js-del"></i></span>
						</div>
						<a href="javascript:void(0);" class="btn_clear"><span><span>Cбросить все</span></span></a><!--span span span span - this is IE!!!-->
					</div>
					<div class="category catalog">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="item">
									<div class="photo"><a href=""><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></a></div>
									<div class="body">
										<div class="data">
											<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
											<ul class="props">
												<li>Артикул — 131.008</li>
												<li>Бренд — Гамма</li>
											</ul>
											<p class="price"><span class="sum">45</span> руб.</p>
										</div>
										<div class="bottom in_cart">
											<div class="row">
												<div class="col-6 col-lg-7 col-xl-6 wrap_btn_basket">
													<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket js-add-to-cart">В корзину</a>
												</div>
												<div class="col-6 col-lg-5 col-xl-6">
													<div class="wrap_btn_favourite">
														<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
													</div>
													<div class="wrap_btn_defer">
														<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
													</div>
													<div class="wrap_count">
														<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="item">
									<div class="photo"><a href=""><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></a></div>
									<div class="body">
										<div class="data">
											<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
											<ul class="props">
												<li>Артикул — 131.008</li>
												<li>Бренд — Гамма</li>
											</ul>
											<p class="price"><span class="sum">45</span> руб.</p>
										</div>
										<div class="bottom in_cart">
											<div class="row">
												<div class="col-6 col-lg-7 col-xl-6 wrap_btn_basket">
													<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket js-add-to-cart">В корзину</a>
												</div>
												<div class="col-6 col-lg-5 col-xl-6">
													<div class="wrap_btn_favourite">
														<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
													</div>
													<div class="wrap_btn_defer">
														<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
													</div>
													<div class="wrap_count">
														<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="item">
									<div class="photo"><a href=""><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></a></div>
									<div class="body">
										<div class="data">
											<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
											<ul class="props">
												<li>Артикул — 131.008</li>
												<li>Бренд — Гамма</li>
											</ul>
											<p class="price"><span class="sum">45</span> руб.</p>
										</div>
										<div class="bottom in_cart">
											<div class="row">
												<div class="col-6 col-lg-7 col-xl-6 wrap_btn_basket">
													<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket js-add-to-cart">В корзину</a>
												</div>
												<div class="col-6 col-lg-5 col-xl-6">
													<div class="wrap_btn_favourite">
														<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
													</div>
													<div class="wrap_btn_defer">
														<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
													</div>
													<div class="wrap_count">
														<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="item">
									<div class="photo"><a href=""><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></a></div>
									<div class="body">
										<div class="data">
											<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
											<ul class="props">
												<li>Артикул — 131.008</li>
												<li>Бренд — Гамма</li>
											</ul>
											<p class="price"><span class="sum">45</span> руб.</p>
										</div>
										<div class="bottom in_cart">
											<div class="row">
												<div class="col-6 col-lg-7 col-xl-6 wrap_btn_basket">
													<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket js-add-to-cart">В корзину</a>
												</div>
												<div class="col-6 col-lg-5 col-xl-6">
													<div class="wrap_btn_favourite">
														<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
													</div>
													<div class="wrap_btn_defer">
														<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
													</div>
													<div class="wrap_count">
														<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="item">
									<div class="photo"><a href=""><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt=""/></a></div>
									<div class="body">
										<div class="data">
											<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
											<ul class="props">
												<li>Артикул — 131.008</li>
												<li>Бренд — Гамма</li>
											</ul>
											<p class="price"><span class="sum">45</span> руб.</p>
										</div>
										<div class="bottom in_cart">
											<div class="row">
												<div class="col-6 col-lg-7 col-xl-6 wrap_btn_basket">
													<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket js-add-to-cart">В корзину</a>
												</div>
												<div class="col-6 col-lg-5 col-xl-6">
													<div class="wrap_btn_favourite">
														<a href="" class="btn6 favourite"><span><span>В избранное</span></span></a>
													</div>
													<div class="wrap_btn_defer">
														<a href="" class="btn5 defer"><span><span>Отложить</span></span></a>
													</div>
													<div class="wrap_count">
														<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap_pagination">
							<div class="pagination">
								<a href="#" class="prev"><i class="fas fa-arrow-left"></i><span class="word1">Предыдущая</span><span class="word2"> страница</span></a>
								<ul class="pages">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#" class="active">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a href="#" class="next"><span class="word1">Следующая</span><span class="word2"> страница</span><i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="screen_viewed">
						<div class="container">
							<h3>Недавно просмотренные</h3>
							<div class="slick view">
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
								<div class="item">
									<div class="pict"><img src="img/del/b90b82d95460f9a581da3c32ea66589a.png"/></div>
									<div class="name"><a href="">Кисть (колонок) Круглая № 6, короткая ручка</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>