<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Контакты</span>
		</div>
		<h1><span>Контакты</span></h1>
		<div class="contacts">
			<div class="wrap_map">
				<div class="row">
					<div class="col-12 col-md-5 col-lg-12">
						<div class="popupContent">
							<p class="contact_title">Телефон</p>
							<p class="contact_text phone"><strong>+7926-894-94-78</strong></p><br>
							<p class="contact_title">Эл. почта:</p>
							<p class="contact_text"><strong>akvarelkin2013@gmail.com</strong></p><br>
							<p class="contact_title">Адрес при самовывозе:</p> 
							<p class="contact_text">
								<strong>г. Москва, Каширское ш. 80к1,</strong>
								<br>вход в подвал в торце дома.<br><br>
								Ориентир: 7 подъезд,<br>
								вывеска с номером дома,<br>
								под ней - вход на склад
							</p><br>
							<p class="contact_title">Время работы:</p>
							<p class="contact_text"><strong>с 9-00 до 20-00</strong><br>
							(прошу звонить за полчаса до приезда)</p>
						</div>
					</div>
					<div class="col-12 col-md-7 col-lg-12">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<p class="title">Напишите нам</p>
			<p class="sub">и мы обязательно ответим</p>
			<form action="" method="post" class="form1">
				<div class="row">
					<div class="col-12 col-md-6 wrap_field">
						<div class="field">
							<input type="email" name="" value="" placeholder="E-mail:">
						</div>
					</div>
					<div class="col-12 col-md-6 wrap_field">
						<div class="field error">
							<input type="password" name="" value="" placeholder="Пароль">
						</div>
					</div>
					<div class="col-12 wrap_field">
						<div class="field">
							<textarea type="message" name="" value="" placeholder="Ваше сообщение" rows="11"></textarea>
						</div>
					</div>
					<div class="col-6 col-md-4 wrap_field wrap_captcha">
						<div class="captcha"><img src="/img/captcha.svg"/></div>
					</div>
					<div class="col-6 col-md-4 wrap_field">
						<div class="field">
							<input type="text" name="" value="" placeholder="Введите код">
						</div>
					</div>
					<div class="col-12 col-md-4 wrap_field">
						<div class="field">
							<input type="submit" name="" value="Отправить">
						</div>
					</div>
				</div>
			</form>
			<div class="service_list">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict"><img src="img/ico/1_01.svg" title="" alt="Бесплатная доставка"></div>
							<div class="disc">
								<h3>Бесплатная доставка</h3>
								<p>от 3000 руб</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict">
								<img src="img/ico/2_01.svg" title="" alt="Удобная оплата">
							</div>
							<div class="disc">
								<h3>Удобная оплата</h3>
								<p>Наличный и безналичный расчет</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service last">
							<div class="pict">
								<img src="img/ico/3_01.svg" title="" alt="Система скидок">
							</div>
							<div class="disc">
								<h3>Система скидок</h3>
								<p>Постоянным клиентам</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
$(document).ready(function() {
	function initMap() {
		var coordinates = {lat: 47.212325, lng: 38.933663},

		markerImage = '/img/marker.png',

		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 47.212325, lng: 38.933663},
			zoom: 10
		}),

		marker = new google.maps.Marker({
			position: coordinates,
			map: map,
			icon: {
				url: markerImage,
				scaledSize: new google.maps.Size(41, 43)
			}
		})
	}
	initMap();
});
</script>
<? include 'footer.html' ?>