<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Контакты</span>
		</div>
		<div class="news-detail">
			<div class="row">
				<div class="col-12 col-md-10">
					<h1><span>Ещё две точки самовывоза!</span></h1>
				</div>
				<div class="col-12 col-md-2">
					<div class="date">20 ФЕВРАЛЯ 2016</div>
				</div>
			</div>
			<div class="main_picture">
				<img src="/upload/7397c259e9a02763fabb7f0f574ebc61.jpg"/>
			</div>
			<h2>Работает самовывоз еще из двух точек!</h2>
			<div class="detail_text">
				<p>Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий.</p>
				<p>Задача организации, в особенности же сложившаяся структура организации влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации новых предложений. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что дальнейшее развитие <a href="">различных форм деятельности</a> в значительной степени обуславливает создание систем массового участия. Таким образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
				</p>
				<div class="row">
					<div class="col-12">
						<h3>Теперь можно забрать ваш заказ у наших партнеров, магазинах ХоббиТаун по адресам:</h3>
					</div>
					<div class="col-12 col-md-6">
						<div class="wrap_oll">
							<ol>
								<li><p><b>ТРЦ Калейдоскоп</b><br>
								г. Москва, ул. Сходненская, д. 56, 3 этаж<br>
								+7 (495) 730-41-33<br>
								<b>Время работы:</b><br>
								Ежедневно с 10:00 до 22:00
								</p></li>
								<li><p><b>ТРЦ Калейдоскоп</b><br>
								г. Москва, ул. Сходненская, д. 56, 3 этаж<br>
								+7 (495) 730-41-33<br>
								<b>Время работы:</b><br>
								Ежедневно с 10:00 до 22:00
								</p></li>
							</ol>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="wrap_image"><img src="/upload/7397c259e9a02763fabb7f0f574ebc61.jpg" style="max-height:344px;" class="full_width"/></div>
					</div>
					<div class="col-12">
						<h3>Богатый асортимент продукции</h3>
					</div>
					<div class="col-12 col-md-6">
						<p>Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке систем массового участия. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>Повседневная практика показывает, что консультация с широким активом позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры представляет собой интересный эксперимент проверки систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития.</p>
					</div>
				</div>
				<div class="item">
					<div class="title">Артикул</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop article">
								1251
							</div>
							<div class="col-6 prop article">
								1251
							</div>
						</div>
					</div>
					<div class="title">Вес</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop available">
								0,8 кг
							</div>
							<div class="col-6 prop available">
								0,8 кг
							</div>
						</div>
					</div>
					<div class="title">Цена</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop price">
								351 руб.
							</div>
							<div class="col-6 prop price">
								351 руб.
							</div>
						</div>
					</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop">
								<a href="" class="btn12" tabindex="0"><span>Удалить</span></a>
							</div>
							<div class="col-6 prop">
								<a href="" class="btn12" tabindex="0"><span>Удалить</span></a>
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				<table class="item_table">
					<thead class="head">
						<tr>
							<td><span>Наименование</span></td>
							<td><span>Артикул</span></td>
							<td><span>Вес</span></td>
							<td><span>Цена</span></td>
							<td class="last del"><span>Удалить</span></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</td>
							<td>1254</td>
							<td>0,3 кг</td>
							<td class="price"><span class="old">368 руб.</span><span>351 руб.</span></td>							
							<td class="last del">
								<a href="" class="btn12"></a>
							</td>														
						</tr>
						<tr>
							<td>Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</td>
							<td>1254</td>
							<td>0,3 кг</td>
							<td class="price"><span>351 руб.</span></td>							
							<td class="last del">
								<a href="" class="btn12"></a>
							</td>														
						</tr>
						<tr>
							<td>Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</td>
							<td>1254</td>
							<td>0,3 кг</td>
							<td class="price"><span class="old">368 руб.</span><span>351 руб.</span></td>							
							<td class="last del">
								<a href="" class="btn12"></a>
							</td>														
						</tr>
						<tr>
							<td>Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</td>
							<td>1254</td>
							<td>0,3 кг</td>
							<td class="price"><span>351 руб.</span></td>							
							<td class="last del">
								<a href="" class="btn12"></a>
							</td>														
						</tr>
						<tr>
							<td>Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA</td>
							<td>1254</td>
							<td>0,3 кг</td>
							<td class="price"><span>351 руб.</span></td>							
							<td class="last del">
								<a href="" class="btn12"></a>
							</td>														
						</tr>
					</tbody>						
				</table>
				<div class="wrap_pagination">
					<div class="pagination_m">
						<a href="">Следующие товары</a>
					</div>
				</div>
				<h3>Мы всегда рядом!</h3>
				<div class="wrap_image float_md"><img src="/upload/db494287faade18fbb5a09df91d276dc.png" class="full_width"/></div>
				<p>Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Товарищи! дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке систем массового участия. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом укрепление и развитие структуры влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.</p>
				<p>Повседневная практика показывает, что консультация с широким активом позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры представляет собой интересный эксперимент проверки систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития.</p>
				<ul class="circle">
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
					<li><span>Маркированный список</span></li>
				</ul>
			</div>
			<div class="wrap_pagination">
				<div class="pagination">
					<a href="#" class="prev"><i class="fas fa-arrow-left"></i>Предыдущая<span> страница</span></a>
					<ul class="pages">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#" class="active">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
					<a href="#" class="next">Следующая<span> страница</span><i class="fas fa-arrow-right"></i></a>
				</div>
				<div class="pagination_m">
					<a href="">Следующие новость</a>
				</div>
			</div>
			<div class="wrap_btn"><a href="" class="btn13 add_comment js-add-comment">Добавить комментарий</a></div>
			<div class="post_list">
				<div class="post add_post">
					<div class="need_auth">
					<span class="warning">Обратите внимание!</span><br>для комментирования нужно авторизоваться
					</div>
				</div>
				<div class="post add_post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-7"><textarea placeholder="Ваш комментарий..."></textarea></div>
						<div class="col-12 col-md-3"><div class="wrap_btn"><a href="" class="btn13 send_comment">Отправить</a></div></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
				<div class="post">
					<div class="row">
						<div class="col-12 col-md-2">
							<span class="post_author">Александра</span><span class="post_date">20 ФЕВРАЛЯ 2016</span>
						</div>
						<div class="col-12 col-md-10"><p class="post_msg">Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		@media (min-width: 768px){
			.float_md{
				float:right;
				margin-left:2rem;
			}
		}
	</style>
<? include 'footer.html' ?>