			<div id="enter_on_site" class="popup">
				<div class="sub_nav">
					<span class="title">Вход на сайт</span>
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="top_b"><a href="javascript:void(0);" class="js-popup" data-popup="register_on_site">Если у вас еще нет аккаунта зарегистрируйтесь</a></div>
				<div class="wrap_popup_form1">
					<form action="" method="post" class="form1">
						<div class="field">
							<input type="email" name="" value="" placeholder="E-mail:"/>
						</div>
						<div class="field error">
							<input type="password" name="" value="" placeholder="Пароль"/>
						</div>
						<div class="forgot_pass"><a href="">Забыли пароль?</a></div>
						<div class="field">
							<input type="submit" name="" value="Войти"/>
						</div>
					</form>
				</div>
			</div>
			<div id="register_on_site" class="popup">
				<div class="sub_nav">
					<span class="title">Регистрация</span>
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="top_b">
					С помощью социальных сетей
					<div class="socs">
						<a href="https://facebook.com" class="soc fb" target="_blank"></a>
						<a href="https://vk.com" class="soc vk" target="_blank"></a>
						<a href="https://ok.ru" class="soc ok" target="_blank"></a>
					</div>
				</div>
				<div class="wrap_popup_form1">
					<form action="" method="post" class="form1">
						<div class="field">
							<input type="email" name="" value="" placeholder="E-mail:"/>
						</div>
						<div class="field error">
							<input type="password" name="" value="" placeholder="Пароль"/>
						</div>
						<div class="isset_account"><a href="javascript:void(0);" class="js-popup" data-popup="enter_on_site">Уже есть аккаунт?</a></div>
						<div class="field">
							<input type="submit" name="" value="Войти"/>
						</div>
						<div class="consens"><a href="">Регистрируясь или осуществляя вход через сторонние ресурсы, вы подтверждаете свое согласие с правилами пользования</a></div>
					</form>
				</div>
			</div>
			<div id="feedback" class="popup">
				<div class="sub_nav">
					<span class="title">Обратная связь</span>
					<a href="" class="close js-close-popup"></a>
				</div>
				<div class="wrap_popup_form1">
					<form action="" method="post" class="form1">
						<div class="field">
							<input type="email" name="" value="" placeholder="E-mail:"/>
						</div>
						<div class="field error">
							<input type="password" name="" value="" placeholder="Пароль"/>
						</div>
						<div class="field">
							<textarea name="" rows="10" placeholder="Ваше сообщение"></textarea>
						</div>
						<div class="field">
							<div class="row">
								<div class="col-5">
									<div class="captcha">
										<img src="img/captcha.svg"/>
									</div>
								</div>
								<div class="col-7">
									<input type="code" name="" value="" placeholder="Введите код"/>
								</div>
							</div>
						</div>
						<div class="field">
							<input type="submit" name="" value="Отправить"/>
						</div>
					</form>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<div class="container_inner">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-lg-6 col-xl-7">
									<ul class="section_list">
										<li class="level-0">
											<h3><a href="">О нас</a></h3>
											<ul class="child_list">
												<li class="level-1"><a href="">О магазине</a></li>
												<li class="level-1"><a href="">Реквизиты</a></li>
												<li class="level-1"><a href="">Контакты</a></li>
												<li class="level-1"><a href="">Преимущества</a></li>
												<li class="level-1"><a href="">Новости</a></li>
											</ul>
										</li>
										<li class="level-0">
											<h3><a href="">Инфо</a></h3>
											<ul class="child_list">
												<li class="level-1"><a href="">Политика конфиденциальности</a></li>
												<li class="level-1"><a href="">Подарочные карты</a></li>
												<li class="level-1"><a href="">Кредит</a></li>
												<li class="level-1"><a href="">Новинки</a></li>
												<li class="level-1"><a href="">Распродажа</a></li>		
											</ul>
										</li>								
										<li class="level-0 last">
											<h3><a href="">Помощь</a></h3>
											<ul class="child_list">
												<li class="level-1"><a href="">Как зарегистрироваться</a></li>
												<li class="level-1"><a href="">Как заказать</a></li>
												<li class="level-1"><a href="">Как оплатить</a></li>
												<li class="level-1"><a href="">Как получить</a></li>
												<li class="level-1"><a href="">Обратная связь</a></li>
												<li class="level-1"><a href="">Вопросы и ответы</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-12 col-lg-6 col-xl-5">
									<div class="services">
										<div class="row">
											<div class="col-12 col-md-6 col-lg-12">
												<div class="socs">
													<a href="https://facebook.com" class="soc fb" target="_blank"></a>
													<a href="https://vk.com" class="soc vk" target="_blank"></a>
													<a href="https://ok.ru" class="soc ok" target="_blank"></a>
												</div>
												<div class="payments">
													<a href="" class="payment visa" target="_blank"></a>
													<a href="" class="payment master" target="_blank"></a>
													<a href="" class="payment robo" target="_blank"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="top">
										<div class="row">
											<div class="col-12 col-md-6 col-lg-12">
												<form action="" method="post" class="search">
													<div class="field">
														<i class="ico_search"></i>
														<input type="text" name="search" placeholder="Введите название или артикул товара">
													</div>
												</form>
											</div>
											<div class="col-12 col-md-6 col-lg-12">
												<div class="row">
													<div class="col-12 order-md-2 order-lg-1">
														<p class="phone"><span>Телефон:<br>WhatsApp:</span><a href="tel:+79268949478">8 (926) 894-94-78</a></p>
													</div>
													<div class="col-12 order-md-1 order-lg-2">
														<p class="email"><a href="mailto:akvarelkin2013@gmail.com">akvarelkin2013@gmail.com</a></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="bottom">
								<div class="row">
									<div class="col-12 col-md-6 order-md-2">
										<p class="copyright">© 2016 Акварелькин.ру<span> — Товары для творчества</span></p>
										<p class="personal_data"><a href="#">Политика конфиденциальности</a></p>
									</div>
									<div class="col-12 col-md-6 order-md-1">
										<p class="developer"><a href="https://averdo.ru/">Разработка сайта Авердо</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap_callback_button js-popup" data-popup="feedback"><div class="callback_button"><span>Обратная связь</span></div></div>
		</footer>
    </body>
</html>