<? include 'header.html' ?>
	<div class="screen_6">
		<div class="container">
			<div class="slick carousel">
				<div class="item">
					<div class="bg" style="background-image:url(img/d6ddd995b52baf75fb9ccba88a7ffab0.png); background-size:cover;">
						<div class="data1">
							<img src="img/10_percent.png" title="" alt="Скидки до 10%">
						</div>
						<div class="data2">
							<p class="title">Скидки до 10%</p>
							<p class="disc">Персональная накопительная программа для зарегистрированных пользователей!</p>
							<a href="" class="btn1">Зарегистрироваться</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="bg" style="background-image:url(img/d6ddd995b52baf75fb9ccba88a7ffab0.png); background-size:cover;">
						<div class="data1">
							<img src="img/10_percent.png" title="" alt="Скидки до 10%">
						</div>
						<div class="data2">
							<p class="title">Скидки до 10%</p>
							<p class="disc">Персональная накопительная программа для зарегистрированных пользователей!</p>
							<a href="" class="btn1">Зарегистрироваться</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="bg" style="background-image:url(img/d6ddd995b52baf75fb9ccba88a7ffab0.png); background-size:cover;">
						<div class="data1">
							<img src="img/10_percent.png" title="" alt="Скидки до 10%">
						</div>
						<div class="data2">
							<p class="title">Скидки до 10%</p>
							<p class="disc">Персональная накопительная программа для зарегистрированных пользователей!</p>
							<a href="" class="btn1">Зарегистрироваться</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="item first">
						<div class="content">
							<h3>Вас ничего не должно отвлекать от творчества</h3>
							<p class="disc">Профессиональные и качественные материалы и инструменты от лучших мировых производителей</p>
							<div class="wrap_btn"><a href="" class="btn1">посмотреть</a></div>
						</div>
						<div class="wrap_bg"><img src="img/1afba6a0e21a1c926a48d3864775f70a.png" title="" alt="Вас ничего не должно отвлекать от творчества"/></div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="item second">
						<a href=""><img src="img/ba3442b16d68ee8f5647d70c4ea97865.png" title="" alt="Чтобы пятерок было больше!"/></a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="item third">
						<a href=""><img src="img/43513881bc63380ef29828a6d00f29b7.png" title="" alt="Мы на facebook"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_4">
		<div class="container">
			<h2><span>Новинки</span></h2>
			<div class="slick catalog new">
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="photo"><img src="img/efa677a52dce72bb45f449d5b900b4bc.png" class="photo" title="" alt="Кисть (щетина) Круглая № 8 в тубусе."/></div>
					<div class="body">
						<div class="data">
							<div class="name"><a href="" class="name">Кисть (щетина) Круглая № 8 в тубусе.</a></div>
							<ul class="props">
								<li>Артикул — 131.008</li>
								<li>Бренд — Гамма</li>
							</ul>
							<p class="price"><span class="sum">45</span> руб.</p>
						</div>
						<div class="bottom">
							<div class="wrap_btn_view">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn2 view">Посмотреть</a>
							</div>
							<div class="wrap_btn_basket">
								<a href="/catalog/?ADD2BASKET=#ID#" class="btn1 basket">В корзину</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="service_list">
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict"><img src="img/ico/1_01.svg" title="" alt="Бесплатная доставка"/></div>
							<div class="disc">
								<h3>Бесплатная доставка</h3>
								<p>от 3000 руб</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service">
							<div class="pict">
								<img src="img/ico/2_01.svg" title="" alt="Удобная оплата"/>
							</div>
							<div class="disc">
								<h3>Удобная оплата</h3>
								<p>Наличный и безналичный расчет</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="service last">
							<div class="pict">
								<img src="img/ico/3_01.svg" title="" alt="Система скидок"/>
							</div>
							<div class="disc">
								<h3>Система скидок</h3>
								<p>Постоянным клиентам</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_3">
		<div class="container">
			<h2><span>Отзывы о товарах</span></h2>
			<div class="row">
				<div class="col-12 col-md-4 col-xl-3 review">
					<div class="item">
						<div class="top">
							<div class="comment_name">Александра</div>
							<div class="stars">
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star empty"></div>
								<div class="star empty"></div>
							</div>
						</div>
						<div class="mess">
						Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
						</div>
						<div class="for">
							<a href="">Кисть (колонок) Круглая № 6,
							короткая ручка</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 review">
					<div class="item">
						<div class="top">
							<div class="comment_name">Александра</div>
							<div class="stars">
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star empty"></div>
								<div class="star empty"></div>
							</div>
						</div>
						<div class="mess">
						Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
						</div>
						<div class="for">
							<a href="">Кисть (колонок) Круглая № 6,
							короткая ручка</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 review">
					<div class="item">
						<div class="top">
							<div class="comment_name">Александра</div>
							<div class="stars">
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star empty"></div>
								<div class="star empty"></div>
							</div>
						</div>
						<div class="mess">
						Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится
						...<a href="">Читать далее</a></div>
						<div class="for">
							<a href="">Кисть (колонок) Круглая № 6,
							короткая ручка</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 review">
					<div class="item last">
						<div class="top">
							<div class="comment_name">Александра</div>
							<div class="stars">
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star full"></div>
								<div class="star empty"></div>
								<div class="star empty"></div>
							</div>
						</div>
						<div class="mess">
						Кисточка очень хорошая! хорошо собрана, держит форму, тоненький кончик, упругая. Хорошо набирает и отдаёт краску, для рисования акварелью мне очень нравится.
						</div>
						<div class="for">
							<a href="">Кисть (колонок) Круглая № 6,
							короткая ручка</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_2">
		<div class="container">
			<h2><span>О нас</span></h2>
			<div class="about">
				<div class="my_photo">
					<img src="img/019fb41109316ec1f50d4f061652191d.png" class="photo" title="Лена Ил" alt="Лена Ил">
					<p class="hand">Лена Ил<br>Владелец магазина Акварелькин.ру</p>
				</div><div class="message">
					<p class="simple_text">В 2013 году я создала интернет-магазин художественных и школьных товаров «Акварелькин». Занимаюсь этим делом с огромным удовольствием!</p>
					<p class="simple_text">На сайте вы найдёте много интересного как для школы, так и для творческой личности. Уверяю! Если уж не нашли нужное, не проблема. Постараюсь отыскать и доставить. У моих поставщиков огромный ассортимент, выбирайте все, что душа просит!</p>
					<p class="simple_text">Говорят что-то такие слова, как Canson, Faber-Castell, Folia, Hahnemuhle, Lana, viva decor, Мастер-класс, Сонет, Ладога и прочие? Тогда Вам точно ко мне!</p>
					<p class="simple_text">Склад находится в г.Москва на Каширке. Ассортимент чуть более 3-х тысяч наименований, это в наличии. Работаю с физ. и юр. лицами, отправляю заказы 
					в регионы.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_7 main-page news-list">
		<div class="container">
			<h2><span>Новости</span></h2>
			<div class="row">
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"/></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"/></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"/></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"/></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="screen_1">
		<div class="container">
			<h2><span>Бренды</span></h2>
			<div class="slick brands">
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.png" title="Fabel-Castell" alt="Fabel-Castell"/></div>
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.svg" title="Canson" alt="Canson"/></div>
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.png" title="Fabel-Castell" alt="Fabel-Castell"/></div>
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.svg" title="Canson" alt="Canson"/></div>
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.png" title="Fabel-Castell" alt="Fabel-Castell"/></div>
				<div class="item"><img src="img/a2494f0851d60bf65ce1099c4a6232af.svg" title="Canson" alt="Canson"/></div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>