<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Контакты</span>
		</div>
		<h1><span>Новости</span></h1>
		<div class="news-list">
			<div class="row">
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news2.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item">
						<div class="pict">
							<a href=""><img src="img/news3.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 news">
					<div class="item last">
						<div class="pict">
							<a href=""><img src="img/news1.png" title="" alt="Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун"></a>
						</div>
						<div class="content">
							<a href="">Работает самовывоз еще из двух точек!
							Теперь можно забрать ваш заказ у наших
							партнеров, магазинах ХоббиТаун</a>
						</div>
						<div class="data">
							<div class="date">20 ФЕВРАЛЯ 2016</div>
							<div class="comment">21</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="wrap_pagination">
			<div class="pagination">
				<a href="#" class="prev"><i class="fas fa-arrow-left"></i>Предыдущая<span> страница</span></a>
				<ul class="pages">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#" class="active">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
				<a href="#" class="next">Следующая<span> страница</span><i class="fas fa-arrow-right"></i></a>
			</div>
		</div>
		<div class="pagination_m">
			<a href="">Следующие товары</a>
		</div>
	</div>
<? include 'footer.html' ?>