<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Корзина</span>
		</div>
		<h1><span>Оформление заказа</span></h1>
		<div class="basket order">
			<div class="row">
				<div class="col-12 col-lg-4 order-lg-2">
					<div class="cart_assets">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-12 order-1 order-md-2 order-lg-1">
								<div class="list_items">
									<div class="registration_title">Ваш заказ</div>
									<div class="item">
										<div class="pict">
											<img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/>
										</div>
										<div class="name">
											Камни декоративные
											акриловые "Яркость",
											ассорти, различные формы, 56 шт./уп., FOLIA
										</div>
									</div>
									<div class="item">
										<div class="pict">
											<img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/>
										</div>
										<div class="name">
											Камни декоративные
											акриловые "Яркость",
											ассорти, различные формы, 56 шт./уп., FOLIA
										</div>
									</div>
									<div class="item">
										<div class="pict">
											<img src="/upload/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""/>
										</div>
										<div class="name">
											Камни декоративные
											акриловые "Яркость",
											ассорти, различные формы, 56 шт./уп., FOLIA
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4 col-lg-12 order-2 order-md-1 order-lg-2">
								<div class="results">
									<div class="registration_title">Ваш заказ</div>
									<div class="data">
										<p><b>Сумма:</b> 40014 руб.</p>
										<p><b>Товаров:</b> 114 шт.</p>
										<p><b>Вес:</b> 2,4 кг</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8 order-lg-1">
					<div class="cart_products">
						<form action="" method="post" class="form1 order">
							<div class="contacts">
								<div class="registration_title">Контактные данные</div>
								<div class="row">
									<div class="col-12 col-md-6 order-1 order-md-1 wrap_field">
										<div class="field">
											<input data-inputmask= " 'mask': '+7-999-999-99-99 ' " name="" value="" placeholder="Телефон">
										</div>
									</div>
									<div class="col-12 col-md-6 order-2 order-md-3 wrap_field">
										<div class="field">
											<input type="email" name="" value="" placeholder="E-mail:">
										</div>
									</div>
									<div class="col-12 col-md-6 order-3 order-md-2 wrap_field">
										<div class="field">
											<input type="text" name="" value="" placeholder="Фамилия">
										</div>
									</div>
									<div class="col-12 col-md-6 order-4 order-md-4 wrap_field">
										<div class="field">
											<input type="text" name="" value="" placeholder="Имя">
										</div>
									</div>
									<div class="col-12 col-md-6 order-5 order-md-6 wrap_field">
										<div class="field">
											<input type="text" name="" value="" placeholder="Отчество">
										</div>
									</div>
									<div class="col-12 col-md-6 order-6 order-md-5">
										<div class="field datepicker">
											<input type="text" name="" value="" placeholder="Дата рождения">
											<span class="ui-selectmenu-icon ui-icon"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="address">
								<div class="registration_title">Адрес доставки</div>
								<div class="row">
									<div class="col-12 col-md-6 order-1 order-md-1 wrap_field">
										<div class="field">
											<select >
												<option disabled selected>Страна</option>
												<option>Россия</option>
												<option>Уругвай</option>
												<option>Бельгия</option>
												<option>ОАЭ</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-md-6 order-2 order-md-3 wrap_field">
										<div class="field">
											<select>
												<option disabled selected>Область</option>
												<option>Россия</option>
												<option>Уругвай</option>
												<option>Бельгия</option>
												<option>ОАЭ</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-md-6 order-3 order-md-5 wrap_field">
										<div class="field">
											<select>
												<option disabled selected>Город</option>
												<option>Москва</option>
												<option>Минск</option>
												<option>Кемерово</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-md-6 order-4 order-md-2 wrap_field">
										<div class="field">
											<input type="text" name="" value="" placeholder="Улица">
										</div>
									</div>
									<div class="col-12 col-md-6 order-5 order-md-4 wrap_field">
										<div class="field group">
											<div class="row">
												<div class="col-6 wrap_field">
													<input type="text" name="" value="" placeholder="Дом">
												</div>
												<div class="col-6 wrap_field">
													<input type="text" name="" value="" placeholder="Корпус">
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-6 order-6 order-md-6 wrap_field">
										<div class="field group">
											<div class="row">
												<div class="col-6 wrap_field">
													<input type="text" name="" value="" placeholder="Квартира">
												</div>
												<div class="col-6 wrap_field">
													<input type="text" name="" value="" placeholder="Индекс">
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 order-6 order-7 order-md-7 wrap_field">
										<div class="field">
											<textarea rows="10" placeholder="Дополнительная информация"></textarea>
										</div>
										<div class="field">
											<label for="field_register_on_site">Зарегистрироваться на сайте</label>
											<input type="checkbox" name="" value="" id="field_register_on_site">
										</div>
									</div>
								</div>
							</div>
							<div class="pay">
								<div class="registration_title">Способ оплаты</div>
								<div class="row">
									<div class="col-12 col-md-8">
										<div class="row">
											<div class="col-12 col-md-6 wrap_field">
												<div class="field">
													<label for="pay1"><span class="label"><span class="name"><b class="name">Наличными курьеру</b></span><span class="discount">-2%</span></span></label>
													<input type="radio" name="pay" id="pay1">
												</div>
											</div>
											<div class="col-12 col-md-6 wrap_field">
												<div class="field">
													<label for="pay2"><span class="label"><span class="name"><b class="name">Квитанция на оплату</b></span><span class="discount">-1%</span></span></label>
													<input type="radio" name="pay" id="pay2">
												</div>
											</div>
											<div class="col-12 col-md-6 wrap_field">
												<div class="field">
													<label for="pay3"><span class="label"><span class="name"><b>Безналичный расчет</b></span></span>
													<div class="payments">
														<a href="" class="payment visa" target="_blank"></a>
														<a href="" class="payment master" target="_blank"></a>
														<a href="" class="payment robo" target="_blank"></a>
													</div></label>
													<input type="radio" name="pay" id="pay3">
												</div>
											</div>
											<div class="col-12 col-md-6 wrap_field">
												<div class="field">
													<label for="pay4"><span class="label"><span class="name"><b>Счет на оплату</b><br><span class="disc">Только для юр. лиц</span></span></span></label>
													<input type="radio" name="pay" id="pay4">
												</div>
											</div>
										</div>
									</div>			
									<div class="col-12 col-md-4">
										<p class="info"><b>Обратите внимание!</b><br>
										конечная сумма заказа зависит от способа оплаты</p>
										<a href="" class="make_order btn13">применить</a>
									</div>
								</div>
							</div>
							<div class="delivery">
								<div class="registration_title">Способ доставки</div>
								<div class="row">
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery1"><span class="label"><b>Самовывоз бесплатно
											Адрес:</b> г. Москва,
											ул. Маршала Захарова, д.12, к.3, под.1
											<b>Пн-Пт с 10:00 до 20:00</b></span></label>
											<input type="radio" name="delivery" id="delivery1">
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery2"><span class="label"><b>Курьером за МКАД до 5 км:
											100 руб от 5000 руб</b>
											Вес до 5 кг</span></label>
											<input type="radio" name="delivery" id="delivery2">
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery3"><span class="label"><b>Почта России</b><br>
											<a href="">Подробнее</a></span></label>
											<input type="radio" name="delivery" id="delivery3">
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery4"><span class="label"><b>Курьером в пределах МКАД:
											бесплатно от 5000 руб</b>
											Вес до 5 кг</span></label>
											<input type="radio" name="delivery" id="delivery4">
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery6"><span class="label"><b>Курьером за МКАД до 5 км:
											100 руб от 5000 руб</b>
											Вес до 5 кг</span></label>
											<input type="radio" name="delivery" id="delivery6">
										</div>
									</div>
									<div class="col-12 col-md-6 wrap_field">
										<div class="field">
											<label for="delivery5"><span class="label"><b>Транспортные компании</b><br>
											<a href="">Подробнее</a></span></label>
											<input type="radio" name="delivery" id="delivery5">
										</div>
									</div>
								</div>
							</div>
							<div class="total">
								<div class="data"><span class="val">40014 руб.</span><span class="dash"> - </span><span class="disc">сумма заказа</span></div>
								<div class="data"><span class="sign">&minus;</span><span class="val">2%</span><span class="dash"> - </span><span class="disc">скидка за оплату</span></div>
								<div class="data"><span class="sign">&plus;</span><span class="val">100 руб.</span><span class="dash"> - </span><span class="disc">за доставку</span></div>
								<div class="data"><span class="sign">&minus;</span><span class="val">220</span><span class="disc"> бонусов</span></div>
								<div class="sum data"><span class="sign">&equals;</span><span class="disc">Итого: </span><span class="val">39096 руб.</span></div>
							</div>
							<a href="/cart.html" class="back_cart btn13">Назад в корзину</a>
							<button type="submit" class="btn_make_order"><span>оформить заказ</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>