<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Корзина</span>
		</div>
		<h1><span>Оформить заказ</span></h1>
		<div class="basket final">
			<div class="row">
				<div class="col-12">
					<div class="cart_products">
						<form action="" method="post" class="form1 order">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="delivery">
										<div class="registration_title">Доставка</div>
										<span class="label"><b>Курьером в пределах МКАД:<br>
										бесплатно от 5000 руб</b><br>
										Вес до 5 кг</span>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="pay">
										<div class="registration_title">Оплата</div>
										<label for="pay3"><span class="label"><span class="name"><b>Безналичный расчет</b></span>
										<div class="payments">
											<a href="" class="payment visa" target="_blank"></a>
											<a href="" class="payment master" target="_blank"></a>
											<a href="" class="payment robo" target="_blank"></a>
										</div></span></label>
									</div>
								</div>
							</div>
							<div class="total">
								<div class="data"><span class="val">40014 руб.</span><span class="dash"> - </span><span class="disc">сумма заказа</span></div>
								<div class="data"><span class="sign">&minus;</span><span class="val">2%</span><span class="dash"> - </span><span class="disc">скидка за оплату</span></div>
								<div class="data"><span class="sign">&plus;</span><span class="val">100 руб.</span><span class="dash"> - </span><span class="disc">за доставку</span></div>
								<div class="data"><span class="sign">&minus;</span><span class="val">220</span><span class="disc"> бонусов</span></div>
								<div class="sum data"><span class="sign">&equals;</span><span class="disc">Итого: </span><span class="val">39096 руб.</span></div>
							</div>
							<div class="contacts">
								<div class="registration_title">Контактная информация</div>
								<div class="row">
									<div class="col-12 col-md-5 col-xl-4">
										<p><b>Контактное лицо:</b><br>
										Семенович Константин Викторович</p>
									</div>
									<div class="col-12 col-md-3 col-xl-3">
										<p><b>Телефон:</b><br>
										+7 926 131-22-12</p>
									</div>
									<div class="col-12 col-md-4 col-xl-3">
										<p><b>Электронная почта:</b><br>
										semenovich.konstantin@gmail.com</p>
									</div>
								</div>
							</div>
							<div class="address">
								<div class="registration_title">Адрес доставки</div>
								<div class="edit"><a href="">Редактировать</a></div>
								<p><b>Город:</b> Москва</p>
								<p><b>Улица:</b> Гарибальди</p>
								<p><b>Дом:</b> 1</p>
								<p><b>Подъезд:</b> 12</p>
								<p><b>Этаж:</b> 7</p>
								<p><b>Квартира:</b> 256</p>
								<p><b>Домофон:</b> 2568</p>
							</div>
							<div class="message">
								<div class="registration_title">Дополнительная информация</div>
								<div class="field">
									<textarea rows="20" placeholder="Введите текст"></textarea>
								</div>
							</div>
							<button type="submit" class="btn_make_order">завершить оформление и перейти к оплате</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>