<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href="" class="active"><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href=""><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Отложенные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Избранные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<div class="discount">
				<div class="row">
					<div class="col-12 col-lg-4">
						<div class="our_discount">Ваша скидка: <span class="discount_size">5%</span></div>
					</div>
					<div class="col-12 col-lg-8">
						<div class="inner_discount">
							<div class="row">
								<div class="col-6 col-md-12 order-1 order-md-2">
									<div class="scale">
										<div class="color js-color" data-size="65%"></div>
									</div>
									<div class="levels">
										<div class="lvl">
											4000 руб.<br>
											Скидка: 3%
										</div>
										<div class="lvl">
											8000 руб.<br>
											Скидка: 4%
										</div>
										<div class="lvl">
											15000 руб.<br>
											Скидка: 5%
										</div>
										<div class="lvl">
											40000 руб.<br>
											Скидка: 6%
										</div>
										<div class="lvl">
											65000 руб.<br>
											Скидка: 8%
										</div>
										<div class="lvl">
											100000 руб.<br>
											Скидка: 10%
										</div>
									</div>
								</div>
								<div class="col-6 col-md-12 order-2 order-md-1">
									<div class="sum">
										<div class="total">Сумма ваших заказов: <span class="val">17 000 руб.</span></div> 
										<div class="left">До скидки 6% осталось: <span class="val">23 000 руб.</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			function setAttrSize()
			{
				var target = $('.js-color');
				var size = target.data('size');
				if ($(window).width() <= '768')
				{
					target.css('height', size);
					target.css('width', '100%');
				}
				else
				{
					target.css('width', size);
					target.css('height', '100%');
				}
			}
			$( window ).resize(setAttrSize);
			setAttrSize();
		});
	</script>
<? include 'footer.html' ?>