<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href="" class="active"><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href=""><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Отложенные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Избранные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<div class="jobs">
				<form class="form1">
					<div class="wrap_place">
						<ol class="list_places">
							<li class="place">
								<div class="name">Москва/ школа №548/ 2017-2018/ 10А</div>
								<div class="edit"><a href="">Редактировать</a></div>
								<div class="remove"><a href="">Удалить</a></div>
							</li>
							<li class="place">
								<div class="name">Москва/ школа №548/ 2017-2018/ 10А</div>
								<div class="edit"><a href="">Редактировать</a></div>
								<div class="remove"><a href="">Удалить</a></div>
							</li>
						</ol>
						<div class="add"><a href=""><span>Добавить место работы</span></a></div>
					</div>
					<div class="wrap_data">
						<div class="row">
							<div class="col-12 wrap_field">
								<div class="field">
									<label for="name">Наименование</label>
									<textarea id="name" placeholder="город/название/год/класс, группа"></textarea>
									<div class="help">Например: Москва/школа №548/2017-2018/10А</div>
								</div>
							</div>
							<div class="col-12 col-md-6 wrap_field">
								<div class="field">
									<label for="city">Город</label>
									<input type="text" id="city" placeholder="Например: Москва">
								</div>
							</div>
							<div class="col-12 col-md-6 wrap_field">
								<div class="field">
									<label for="school">Наименование ВУЗа, школы, курсов</label>
									<input type="text" id="school" placeholder="Например: школа №548">
								</div>
							</div>
							<div class="col-12 col-md-6 wrap_field">
								<div class="field">
									<label for="year">Год обучения</label>
									<input type="text" id="year" placeholder="Например: 2017-2018">
								</div>
							</div>
							<div class="col-12 col-md-6 wrap_field">
								<div class="field">
									<label for="group">№ класса, группы</label>
									<input type="text" id="group" placeholder="Например: 10А">
								</div>
							</div>
						</div>
						<input type="submit" value="Сохранить">
					</div>
				</form>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>