<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);" class="active"><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href="javascript:void(0);"><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href="javascript:void(0);"><span style="text-align:left"><span class="name">Отложенные товары</span><span class="count">67</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href="javascript:void(0);"><span style="text-align:left"><span class="name">Избранные товары</span><span class="count">67</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href="javascript:void(0);"><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<form action="" method="post" class="form1">
				<div class="data1">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="status">
								<div class="title_field">
									<div class="registration_title">Статус</div>
								</div>
								<div class="field_values">
									<div class="field">
										<label for="status1">Учитель/преподаватель</label>
										<input type="checkbox" id="status1">
									</div>
									<div class="field">
										<label for="status2">Родительский комитет</label>
										<input type="checkbox" id="status2" checked>
									</div>
									<div class="field">
										<label for="status3">Пользователь</label>
										<input type="checkbox" id="status3">
									</div>
									<div class="field">
										<label for="status4">Промоутер</label>
										<input type="checkbox" id="status4">
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="nik">
								<div class="title_field">
									<div class="registration_title">Ник(NIK)</div>
								</div>
								<div class="field_values">
									<div class="field">
										<input type="text" placeholder="Например:SOPOVA_I_T">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="contacts">
					<div class="registration_title">Контактные данные</div>
					<div class="row">
						<div class="col-12 col-md-4 order-md-1 wrap_field">
							<div class="field">
								<input data-inputmask=" 'mask': '+7-999-999-99-99 ' " name="" value="" placeholder="Телефон" im-insert="true">
							</div>
						</div>
						<div class="col-12 col-md-4 order-md-3 wrap_field">
							<div class="field">
								<input type="email" name="" value="" placeholder="E-mail:">
							</div>
						</div>
						<div class="col-12 col-md-4 order-md-4 wrap_field">
							<div class="field">
								<input type="text" name="" value="" placeholder="Фамилия">
							</div>
						</div>
						<div class="col-12 col-md-4 order-md-5 wrap_field">
							<div class="field">
								<input type="text" name="" value="" placeholder="Имя">
							</div>
						</div>
						<div class="col-12 col-md-4 order-md-6 wrap_field">
							<div class="field">
								<input type="text" name="" value="" placeholder="Отчество">
							</div>
						</div>
						<div class="col-12 col-md-4 order-md-2 wrap_field">
							<div class="field datepicker">
								<input type="text" name="" value="" placeholder="Дата рождения">
								<span class="ui-selectmenu-icon ui-icon"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="address">
					<div class="registration_title">Адрес доставки</div>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3 wrap_field">
							<div class="row">
								<div class="col-12 col-md-12 wrap_field">
									<div class="field">
										<select >
											<option disabled selected>Страна</option>
											<option>Россия</option>
											<option>Уругвай</option>
											<option>Бельгия</option>
											<option>ОАЭ</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-12 wrap_field">
									<div class="field">
										<select>
											<option disabled selected>Область</option>
											<option>Россия</option>
											<option>Уругвай</option>
											<option>Бельгия</option>
											<option>ОАЭ</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-12 wrap_field">
									<div class="field">
										<select>
											<option disabled selected>Город</option>
											<option>Москва</option>
											<option>Минск</option>
											<option>Кемерово</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-4 wrap_field">
							<div class="row">
								<div class="col-12 col-md-12 wrap_field">
									<div class="field">
										<input type="text" name="" value="" placeholder="Улица">
									</div>
								</div>
								<div class="col-12 col-md-12 wrap_field">
									<div class="field group">
										<div class="row">
											<div class="col-6 wrap_field">
												<input type="text" name="" value="" placeholder="Дом">
											</div>
											<div class="col-6 wrap_field">
												<input type="number" name="" value="" placeholder="Корпус">
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-12 wrap_field">
									<div class="field group">
										<div class="row">
											<div class="col-6 wrap_field">
												<input type="number" name="" value="" placeholder="Квартира">
											</div>
											<div class="col-6 wrap_field">
												<input type="number" name="" value="" placeholder="Индекс">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 wrap_field">
							<div class="row">
								<div class="col-12 order-6 order-7 order-md-7 wrap_field">
									<div class="field">
										<textarea rows="10" placeholder="Дополнительная информация"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="password">
					<div class="registration_title">Пароль</div>
					<div class="row">
						<div class="col-12 col-md-4 wrap_field">
							<div class="field">
								<input type="password" placeholder="Старый пароль">
							</div>
						</div>
						<div class="col-12 col-md-4 wrap_field">
							<div class="field">
								<input type="password" placeholder="Новый пароль">
							</div>
						</div>
						<div class="col-12 col-md-4 wrap_field">
							<div class="field">
								<input type="password" placeholder="Повторите пароль">
							</div>
						</div>
					</div>
				</div>
				<div class="submit">
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="field">
								<input type="submit" value="Сохранить изменения">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
<? include 'footer.html' ?>