<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href="" class="active"><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name">Отложенные товары</span><span class="count">67</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name">Избранные товары</span><span class="count">67</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<table class="order_list">
				<thead class="head">
					<tr>
						<td class="num"><span>Номер заказа</span></td>
						<td><span>Дата</span></td>
						<td><span>Вес</span></td>
						<td><span>Сумма</span></td>
						<td><span>Статус</span></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="num">RU 160401-151992</td>
						<td>01. 04. 2018</td>
						<td>0,8 кг</td>
						<td>351 руб.</td>							
						<td><span class="status_process">В обработке</span></td>														
					</tr>
					<tr>
						<td class="num">RU 160401-151992</td>
						<td>01. 04. 2018</td>
						<td>0,8 кг</td>
						<td>351 руб.</td>							
						<td><span class="status_cancel">Отменен</span></td>														
					</tr>
					<tr>
						<td class="num">RU 160401-151992</td>
						<td>01. 04. 2018</td>
						<td>0,8 кг</td>
						<td>351 руб.</td>							
						<td><span class="status_complete">Доставлен</span></td>														
					</tr>
					<tr>
						<td class="num">RU 160401-151992</td>
						<td>01. 04. 2018</td>
						<td>0,8 кг</td>
						<td>351 руб.</td>							
						<td><span class="status_complete">Доставлен</span></td>														
					</tr>
					<tr>
						<td class="num">RU 160401-151992</td>
						<td>01. 04. 2018</td>
						<td>0,8 кг</td>
						<td>351 руб.</td>							
						<td><span class="status_cancel">Отменен</span></td>														
					</tr>
				</tbody>						
			</table>
			
			<!--Для мобильной версии-->
			<div class="order_list_xs">
				<div class="title">Номер заказа</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop num">
							RU 160401-151992
						</div>
						<div class="col-6 prop num">
							RU 160401-151992
						</div>
					</div>
				</div>
				<div class="title">Дата</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop">
							01. 04. 2018
						</div>
						<div class="col-6 prop">
							21. 03. 2017
						</div>
					</div>
				</div>
				<div class="title">Вес</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop">
							0,8 кг
						</div>
						<div class="col-6 prop">
							0,3 кг
						</div>
					</div>
				</div>
				<div class="title">Сумма</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop">
							351 руб.
						</div>
						<div class="col-6 prop">
							351 руб.
						</div>
					</div>
				</div>
				<div class="title">Статус</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop">
							<span class="status_process">В обработке</span>
						</div>
						<div class="col-6 prop">
							<span class="status_cancel">Отменен</span>
						</div>
					</div>
				</div>
				<div class="separator"></div>
			</div>
			<div class="pagination_m">
				<a href="">Следующие товары</a>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>