<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href="" class="active"><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href=""><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Отложенные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name isset_counter">Избранные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<div class="rewards">
				<form class="form1">
					<div class="field points">
						<label for="points" class="view1">Доступно баллов:</label>
						<input type="text" name="points" id="points" placeholder="0">
					</div>
					<div class="wrap_link1"><a href="">Вывести на карту</a></div>
					<div class="wrap_link2"><a href="">Перевести на бонусный счет</a></div>
				</form>
				<div class="personal">
					<table>
						<thead>
							<tr>
								<th>Дата</th>
								<th>Основание</th>
								<th>Баланс<br>на начало</th>
								<th>Начислено</th>
								<th>Списано</th>
								<th>Баланс<br>на конец</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="date">01. 04. 2018</td>
								<td>Регистрация на сайте</td>
								<td>-</td>
								<td>+100</td>
								<td>-</td>
								<td>100</td>
							</tr>
							<tr>
								<td class="date">01. 04. 2017</td>
								<td>Начислен % за заказ 3270</td>
								<td>100</td>
								<td>-</td>
								<td>-</td>
								<td>100</td>
							</tr>
							<tr>
								<td class="date">01. 04. 2018</td>
								<td>Активирован промокод учителя</td>
								<td>-</td>
								<td>+200</td>
								<td>-</td>
								<td>300</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--Для мобильной версии-->
				<div class="table_for_mobile_view1">
					<div class="title">Дата</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop date">
								01. 04. 2018
							</div>
							<div class="col-6 prop date">
								21. 03. 2017
							</div>
						</div>
					</div>
					<div class="title">Основание</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop disc">
								Регистрация на сайте
							</div>
							<div class="col-6 prop disc">
								Начислен % за заказ 3270
							</div>
						</div>
					</div>
					<div class="title">Баланс на начало</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop balance_start">
								-
							</div>
							<div class="col-6 prop balance_start">
								100
							</div>
						</div>
					</div>
					<div class="title">Начислено</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop profit">
								+100
							</div>
							<div class="col-6 prop profit">
								-
							</div>
						</div>
					</div>
					<div class="title">Списано</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop profit">
								-
							</div>
							<div class="col-6 prop profit">
								-
							</div>
						</div>
					</div>
					<div class="title">Баланс на конец</div>
					<div class="wrap_prop">
						<div class="row">
							<div class="col-6 prop balance_end">
								100
							</div>
							<div class="col-6 prop balance_end">
								100
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
				<div class="wrap_btn">
					<a href="" class="btn14">Показать ещё</a>
				</div>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>