<? include 'header.html' ?>
	<div class="container">
		<div class="breadcrumbs">
			<a href="/main.html">Главная</a> — <span>Личный кабинет</span>
		</div>
		<div class="profile">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-6">
					<h1><span>Личный кабинет</span></h1>
				</div>
				<div class="col-12 col-md-5 col-lg-6">
					<div class="privilege">
						<p>Бонусов: <span class="val">167</span></p>
						<p>Ваша скидка: <span class="val">5%</span></p>
					</div>
				</div>
			</div>
			<div class="tabs">
				<div class="row">
					<div class="col-6 col-md-five tab">
						<a href="" class="active"><span><span class="name">Мои данные</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab">
						<a href=""><span><span class="name">Мои заказы</span></span></a>
					</div>
					<div class="col-6 col-md-five col-md tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name">Отложенные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab isset_counter">
						<a href=""><span style="text-align:left"><span class="name">Избранные товары</span><span class="count">99</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Скидка</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Бонусный счет</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Места работы</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Списки</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Вознаграждение</span></span></a>
					</div>
					<div class="col-6 col-md-five tab">
						<a href=""><span><span class="name">Рассылка</span></span></a>
					</div>
				</div>
			</div>
			<div class="offer_series">
				<div class="head">
					<div class="row">
						<div class="col-4 col-lg-4 col-xl-3 prop name"><span>Наименование</span></div>
						<div class="col-1 col-lg-1 prop article"><span>Артикул</span></div>
						<div class="col-2 col-lg-1 prop available"><span>Доступно</span></div>
						<div class="col-2 col-lg-1 prop price"><span>Цена</span></div>
						<div class="col-2 col-lg-2 col-xl-3 prop counter"><span>Количество</span></div>
						<div class="col-1 offset-lg-2 offset-xl-2 prop remove"><span>Удалить</span></div>
					</div>
				</div>
				<div class="item first">
					<div class="body">
						<div class="row">
							<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
							<div class="col-3 col-lg-3 col-xl-2 prop name">
							Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA
							</div>
							<div class="col-1 col-lg-1 prop article">1251</div>
							<div class="col-2 col-lg-1 prop available">12 шт.</div>
							<div class="col-2 col-lg-1 prop price"><span class="old">368 руб.</span>351 руб.</div>
							<div class="col-2 col-lg-2 col-xl-3 prop counter">
								<div class="wrap_count">
									<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
								</div>
							</div>
							<div class="col-1 order-lg-12 prop remove">
								<a href="" class="btn12 reset"></a>
							</div>							
							<div class="col-3 col-lg-2 offset-9 offset-lg-0 order-lg-2 prop order">
								<a href="" class="btn3 order"><span>Заказать</span></a>
							</div>																					
						</div>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="row">
							<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
							<div class="col-3 col-lg-3 col-xl-2 prop name">
							Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA
							</div>
							<div class="col-1 col-lg-1 prop article">1251</div>
							<div class="col-2 col-lg-1 prop available">12 шт.</div>
							<div class="col-2 col-lg-1 prop price">351 руб.</div>
							<div class="col-2 col-lg-2 col-xl-3 prop counter">
								<div class="wrap_count">
									<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
								</div>
							</div>	
							<div class="col-1 order-lg-12 prop remove">
								<a href="" class="btn12 reset"></a>
							</div>							
							<div class="col-3 col-lg-2 offset-9 offset-lg-0 order-lg-2 prop order">
								<a href="" class="btn3 order"><span>Заказать</span></a>
							</div>																					
						</div>
					</div>
				</div>
				<div class="item">
					<div class="body">
						<div class="row">
							<div class="col-1 col-lg-1 prop pict"><img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt=""></div>
							<div class="col-3 col-lg-3 col-xl-2 prop name">
							Камни декоративные акриловые "Яркость", ассорти, различные формы, 56 шт./уп., FOLIA
							</div>
							<div class="col-1 col-lg-1 prop article">1251</div>
							<div class="col-2 col-lg-1 prop available">12 шт.</div>
							<div class="col-2 col-lg-1 prop price">351 руб.</div>
							<div class="col-2 col-lg-2 col-xl-3 prop counter">
								<div class="wrap_count">
									<button class="munus control">-</button><input type="text" name="count" class="count" value="12"><button class="plus control">+</button>
								</div>
							</div>	
							<div class="col-1 order-lg-12 prop remove">
								<a href="" class="btn12 reset"></a>
							</div>							
							<div class="col-3 col-lg-2 offset-9 offset-lg-0 order-lg-2 prop order">
								<a href="" class="btn3 order"><span>Заказать</span></a>
							</div>																					
						</div>
					</div>
					<div class="overlay"></div>
				</div>					
			</div>
			
			<!--Для мобильной версии-->
			<div class="order_list_xs">
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop pict">
							<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
						</div>
						<div class="col-6 prop pict">
							<img src="img/del/ce85c24bc9d40219d75e3c38746168c3.jpg" title="" alt="">
						</div>
					</div>
				</div>
				<div class="title">Наименование</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop name">
							Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
						</div>
						<div class="col-6 prop name">
							Камни декоративные акриловые "Цветы", ассорти, различные размеры, 200 шт./уп., FOLIA
						</div>
					</div>
				</div>
				<div class="title">Артикул</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop article">
							1251
						</div>
						<div class="col-6 prop article">
							1251
						</div>
					</div>
				</div>
				<div class="title">Доступно</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop available">
							12 шт
						</div>
						<div class="col-6 prop available">
							12 шт
						</div>
					</div>
				</div>
				<div class="title">Цена</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop price">
							351 руб.
						</div>
						<div class="col-6 prop price">
							351 руб.
						</div>
					</div>
				</div>
				<div class="title">Количество</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop counter">
							<button class="munus control" tabindex="0">-</button><input type="text" name="count" class="count" value="12" tabindex="0"><button class="plus control" tabindex="0">+</button>
						</div>
						<div class="col-6 prop counter">
							<button class="munus control" tabindex="0">-</button><input type="text" name="count" class="count" value="12" tabindex="0"><button class="plus control" tabindex="0">+</button>
						</div>
					</div>
				</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop">
							<a href="" class="btn3 order" tabindex="0"><span>В корзину</span></a>
						</div>
						<div class="col-6 prop">
							<a href="" class="btn3 order" tabindex="0"><span>В корзину</span></a>
						</div>
					</div>
				</div>
				<div class="wrap_prop">
					<div class="row">
						<div class="col-6 prop remove">
							<a href="" class="btn12 reset"></a>
						</div>
						<div class="col-6 prop remove">
							<a href="" class="btn12 reset"></a>
						</div>
					</div>
				</div>
				<div class="separator"></div>
			</div>	
			<div class="pagination_m">
				<a href="">Следующие товары</a>
			</div>
		</div>
	</div>
<? include 'footer.html' ?>